.profilePage {
	padding: 1.5rem 3rem;
	@include flex(column);
	main {
		border: 1px solid red;
		width: 90%;
		margin: auto;
		> .update {
			border: 1px solid red;
			@include flex(column, center, center);
			width: 100%;
			section {
				width: 40%;
				img {
					border: 1px solid red;
					@include square(10rem);
					border-radius: 50%;
					object-fit: cover;
				}
				div {
					@include flex;
					border: 1px solid red;
					button {
						@include flex;
						@include button;
						padding: 0.3rem;
						max-width: 7rem;
						background-color: transparent;
						border: 2px solid red;
						color: red;
						font-size: 1rem;
					}
				}
			}
		}
	}
}
